configuration {  
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "  ";
  display-window: " ";
  modi: "window,run,drun,ssh,windowcd";
  display-combi: "  ";
  display-dmenu: " ";
  drun-display-format: "{icon} {name} [<span weight='light' size='small'><i>({generic})</i></span>]";



}
@theme "defeb"
 
